/**
* 1.1 WhatsApp
*/

@media screen and (min-width: 800px) {
	a.share-whatsapp.sd-button.share-icon{
		display: none!important;
	}
	.sd-social-official .sd-content li.share-whatsapp .whatsapp_button{
		display: none!important;
	}
	a.share-whatsapp.sd-button.no-icon{
		display: none!important;
	}
}

.sd-content ul li.preview-item div.option.option-smart-off a {
    display: inline-block!important;
}

/* Icon and Text */
.sd-social-icon .sd-content ul li.share-whatsapp a:before,
.sd-social-text .sd-content ul li.share-whatsapp a:before,
.sd-content ul li.share-whatsapp div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-whatsapp a:before,
li.service.share-whatsapp span:before {
	content:" ";
	background-image:url("../images/shape.png");
	background-image:image-set(url("../images/shape.png") 1x, url("../images/shape@2x.png") 2x);
	background-image:-webkit-image-set(url("../images/shape.png") 1x, url("../images/shape@2x.png") 2x);
	background-repeat: no-repeat;
	background-position:center;
	background-size:16px 16px;
	height:16px;
	width:16px;
}

/* Text only */
.sd-social-icon .sd-content ul li.share-whatsapp a.no-text:before {
	background:none !important;
}

/* Icon only */
.sd-social-icon .sd-content ul li[class*="share-"].share-whatsapp a.sd-button {
	background-color:#00b900;
	background-image:url("../images/shape-white.png");
	background-image:image-set(url("../images/shape-white.png") 1x, url("../images/shape-white@2x.png") 2x);
	background-image:-webkit-image-set(url("../images/shape-white.png") 1x, url("../images/shape-white@2x.png") 2x);
	background-repeat:no-repeat;
	background-position:center;
	background-size:20px 20px;
}

/* Official Button (Admin Preview) */
.preview-whatsapp .option-smart-on {
	height:20px;
	width: 78px;
	background-image: url("../images/rectangle-en.png");
	background-image:image-set(url("../images/rectangle-en.png") 1x, url("../images/rectangle-en@2x.png") 2x);
	background-image:-webkit-image-set(url("../images/rectangle-en.png") 1x, url("../images/rectangle-en@2x.png") 2x);
	background-repeat: no-repeat;
	background-position:center;
	background-size: 78px 20px;
}

/* Official Button */
.sd-social-official .sd-content li.share-whatsapp .whatsapp_button {
	line-height:20px;
}

.sd-social-official .sd-content li.share-whatsapp .whatsapp_button a {
	height: 20px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position:center;
}

.sd-social-official .sd-content li.share-whatsapp .whatsapp_button a.en {
	width: 68px;
	background-image: url("../images/rectangle-en.png");
	background-image:image-set(url("../images/rectangle-en.png") 1x, url("../images/rectangle-en@2x.png") 2x);
	background-image:-webkit-image-set(url("../images/rectangle-en.png") 1x, url("../images/rectangle-en@2x.png") 2x);
	background-size: 68px 20px;
}

.sd-social-official .sd-content li.share-whatsapp .whatsapp_button a.ja {
	width: 68px;
	background-image: url("../images/rectangle-ja.png");
	background-image:image-set(url("../images/rectangle-ja.png") 1x, url("../images/rectangle-ja@2x.png") 2x);
	background-image:-webkit-image-set(url("../images/rectangle-ja.png") 1x, url("../images/rectangle-ja@2x.png") 2x);
	background-size: 68px 20px;
}

.sd-social-official .sd-content li.share-whatsapp .whatsapp_button a.zh-hant {
	width: 68px;
	background-image: url("../images/rectangle-zh-hant.png");
	background-image:image-set(url("../images/rectangle-zh-hant.png") 1x, url("../images/rectangle-zh-hant@2x.png") 2x);
	background-image:-webkit-image-set(url("../images/rectangle-zh-hant.png") 1x, url("../images/rectangle-zh-hant@2x.png") 2x);
	background-size: 68px 20px;
}
